/* menu */
#menu {
    text-align: center;
    margin: 0px;
    padding: 0Px;
    margin-top: -5px;
    margin-bottom: 20px;
}
#menu li {
    font-family:monospace;
    display: inline;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 5pt;
    padding-left: 5pt;
    border: 3px solid #3771c8; /* #6495ed */
    border-top: 0px;
    background-color: #DFE6FF;
}


div.infobox {
    text-align: justify;
    width: 600px;
    padding: 10px;
    margin: 10px;
    border:1px dashed #6495ed;
}

body {
/*    background-color: #ccccff; */
}

/* tables */
table {
    border: 0px;
}

select, input {
    width: 85%;
}

th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 2px;
    padding-right: 2px;    
    background-color:#EFF6FF;
}

td {
    font-family:sans-serif;
    font-size:10pt;
    border:1px solid #6495ed;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 2px;
    padding-right: 2px; 
    text-align:left;
}

table.formations {
    border:2px solid #3771c8;
    border-collapse:collapse; 
    margin:auto;
    margin-top:-2px;    
    background-color: #ffffff;
}

table.super {
    border:2px solid #3771c8;
    border-collapse:collapse; 
    margin:auto;
    background-color: #ffffff;
}


table.interventions,  table.service {
    border:2px solid #3771c8;
    border-collapse:collapse; 
    margin:auto;
    background-color: #ffffff;
}

table.stat {
    border: 2px solid #3771c8;
    border-collapse: collapse; 
    margin: auto;
    margin-top: 10px;
    background-color: #ffffff;
}

table.stat th {
    font-family: monospace;    
    text-align:right;
}

table.stat td {
    font-family: monospace;    
    text-align:right;
}

tr.formation td {
    padding-top: 10px;
    background-color:#DFE6FF;
}    

tr.super {
    padding-top: 10px;
    font-weight: bolder;    
    background-color:#3771c8;
    color: white;
}

tr.entete {
    font-weight: bolder;
}

tr.sousformations > td {
    padding: 0px;
}

tr.formcours {
   display:none;
}

tr.formcours, tr.formcours > td {
    padding: 0px;
    text-align: left;
}

table.formcours {
    border: 0px;
    border-collapse:collapse;
}

table.enseignants {
    border:3px solid #6495ed;
    border-collapse:collapse; 
    margin:auto;
}

table.tranches {
/*    width:874px; */
    border:1px solid #6495ed;
    border-bottom:2px solid #6495ed;
    border-left:2px solid #6495ed;
    border-right:0px;    
    border-collapse:collapse;
    margin-left: auto;
   /* margin-right: -1px; */
}

table.tabletrancheform {
    border:0px;    
    border-collapse:collapse;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: -1px;
/*    margin-right: -1px; */
    padding: 0px;
}

tr.trtrancheform, tr.trtrancheform > td {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

tr.formtranche {
    padding: 0px;
    margin:  0px;
}

tr.formtranche td {
    border:  1px solid #6495ed;
    text-align: center;
}

table.tranches th, table.formcours td {
    text-align: center;
}  

/* DIMENSIONS */

table.super {
    width:879px;
}

table.enseignants {
    width:877px;
}

table.formations {
    width:877px;
}

table.formcours {
    width:874px;
}

.nom_cours, .responsable, .enseignant {
    width: 100px; /* 200 */
}

td.responsable > input {
    width: 90px;
}

td.enseignant > input {
    width: 90px;
}

td.nom_cours > input {
   width: 90px;  /* 180 */
}

.descriptif {
    width: 140px;
}

td.descriptif > textarea {
    width: 120px;
}

.groupe, .CM, .TD, .TP, .alt, .groupe, .HTD {
    width:60px; /* 180 */
}

td.CM > input, td.TD > input, td.TP > input, td.alt > input,  td.HTD > input {
    width:28px; /* 180 */
}

 .semestre {
   width: 80px;  /* 180 */
} 

.credits {
   width: 80px;  /* 180 */
} 

td.credits > input {
   width: 50px;  /* 180 */
}


.code_geisha {
    width:70px;
}

td.code_geisha > input {
    width: 60px;
}

.action {
   width: 70px;
}


/* dimensions pour les tranches */
.remarque {
    width: 140px;
}

td.remarque > textarea {
    width: 120px;
}

.type_conversion {
    width: 100px;
}

td.type_conversion > input {
    width: 90px;
}

td.groupe > input {
    width: 30px;
}

td.groupe > input {
    width:28px; /* 180 */
}

input.type_conversion, input.semestre {
    width: 10px;
    display: inline;
}

/**** FIN DIMENSIONS ****/

.semestre, .credits, .CM, .TD, .TP, .alt, .code_geisha, .action, .groupe, .HTD {
    text-align: center;
}

input, textarea {
    color: darkblue;
}

/* td.id {
 display:none;
} */

/* fusion manuelle des bords */
table.formcours td.nom_cours {
    border-left: 0px;
}

table.formcours td.action {
    border-right: 0px;
}

table.formcours td {
    border-bottom: 0px;
}

td.tranches {
    padding-top: 0px;
    padding-right: 0px;
}

/******* toutes les bascules *******/

div.basculeOff, div.basculeOn {
    float:left; 
    margin-left: -132px; 
    cursor: pointer;
    width: 20px;
    height: 20px;
}

div.basculeOff {
    background-image: url(img/triangleLR.png);
}

div.basculeOff:hover {
    background-image: url(img/triangleLRp.png);
}

div.basculeOn {
    background-image: url(img/triangleTD.png);
}

div.basculeOn:hover {
    background-image: url(img/triangleTDp.png);
}

td.intitule > div.basculeOff, td.intitule > div.basculeOn {
    margin-left: -30px;
}

.micropalette {
    float: left;
    margin: -32px;
    width: 0px;
    height: 0px;
}

.basculeOff + .micropalette {
    display:none;
}

.globalHistoOn, .globalHistoOff {
    position: relative;
    cursor: pointer;
    top: 10px;
    width: 22px;
    height: 22px;
}

.globalHistoOn:hover, .globalHistoOff {
    background-image: url(img/touthisto2.png);
}

.globalHistoOn, .globalHistoOff:hover {
    background-image: url(img/touthisto1.png);    
}

.histoOn, .histoOff {
    position: relative;
    top: 60px;
    left: 5px;
    width: 16px;
    height: 13px;
    cursor: pointer;
}

.histoOn:hover, .histoOff {
    background-image: url(img/histo2.png);
}

.histoOn, .histoOff:hover {
    background-image: url(img/histo1.png);    
}

/******** barres de cours *********/


tr.imgcours, td.imgcours, div.imgcours {
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-top: -1px;
    height: 0px;
}

div.imgcours {    
    float: left;
    background-repeat: no-repeat;    
}

div.imgcours img.imgbarre {     
    opacity: 0.7; 
    position: absolute;
}

tr.imgformation, td.imgformation, div.imgformation {
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-top: -1px; 
    height: 0px;
}

div.imgformation {    
    float: left;
    background-repeat: no-repeat;    
}

div.imgformation img.imgbarre {     
    opacity: 0.9;
    position: absolute;
}

span.totaux {
    float: right;
    width: 50%;
}

div.tip {
    font-family:monospace;
    width: 300px;
}